{% extends 'base.html' %}
{% load app_filters %}
{% load static %}
{% block title %}
    {{ movie.title }}
{% endblock %}


{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ movie.title }}</h1>
            {% for i in movie.slug|ratio %}
                <img src="{% static 'img/star.png' %}" width="25">
            {% endfor %}
            <p style="text-align: justify;">{{ movie.synopsis|linebreaksbr }}</p>
            <p><b>Director: </b>{{ movie.director }}</p>
            <p><b>Created Date: </b>{{ movie.created_date }}</p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'Movie:update' movie.slug %}" role="button">Edit</a></p>
        </div>
    </div>
{% endblock %}


{% block content %}
    {% if not created_comment %}
        <p><a class="btn btn-primary btn-lg" href="{% url 'Movie:review_create' movie.slug %}" role="button">Add a Review</a></p>
    {% endif %}
    {% if movie.review_set.all %}
        {% for review in movie.review_set.all %}
            <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title"><a href="#">{{ review.user.user.get_full_name }}</a></h4>
                {% for i in review.id|stars %}
                    <img src="{% static 'img/star.png' %}" width="25">
                {% endfor %}
                <p class="card-text">{{ review.comment }}</p>
            </div>
        </div>
        {% endfor %}
    {% endif %}

{% endblock %}