{% extends 'base.html' %}
{% load app_filters %}
{% load static %}
{% block title %}
    {{ movie.title }}
{% endblock %}


{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ movie.title }}</h1>
                <span class="star star-{{ movie.slug|ratio }}">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </span>
            <p style="text-align: justify;">{{ movie.synopsis|linebreaksbr }}</p>
            <p><b>Director: </b><a href="{% url 'Director:detail' movie.director.slug %}">{{ movie.director }}</a></p>
            <p><b>Created Date: </b>{{ movie.created_date }}</p>
            <p><b>Added by: </b><a href="{% url 'Profile:detail' movie.author.user %}">{{ movie.author }}</a></p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'Movie:update' movie.slug %}" role="button">Edit</a></p>
        </div>
    </div>
{% endblock %}


{% block content %}

    {% if not created_comment %}
        <h2>Add Review</h2> <br>
        <p>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="form-group">
                        <label for="{{ field.name }}">{{ field.label}}</label>
                        {{ field }}
                    </div>

                {% endfor %}
                <input type="Submit" class="btn btn-light" value="Add">
            </form>
        </p>
    {% endif %}

    {% if movie.review_set.all %}
        <br><h2>Reviews about this movie</h2> <br>
        {% for review in movie.review_set.all %}
            <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title"><a href="{% url 'Profile:detail' review.user.user.username %}">{{ review.user.user.get_full_name }}</a>
                {% if review.user.user.username == user.username %}
                    <a href="{% url 'Movie:review_update' movie.slug %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                {% endif %}

                </h4>
                <span class="star star-{{ review.id|stars }}">
                    <i class="fa fa-star" aria-hidden="true" title="Update"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </span>
                <p class="card-text">{{ review.comment }}</p>
            </div>
        </div>
        {% endfor %}
    {% endif %}

{% endblock %}